{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]", "<TYPE>"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
